<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% extends "base.html" %}

        {% block content %}
        {% endblock %}
        
        <div class="chat-container">
            <div class="main">
                <div class="logo">
                    Chatme
                </div>

                <div class="sub-main">
                    <div class="main-user">
                        <img src="" alt="profile picture" />
                    </div>
                    <p>username</p>
                </div>
            </div>

            <div class="header">Messages</div>
        </div>
    </body>
</html>